#scoren {
  border-style: solid;
  text-align: center;
  background-color: black;
  width: 100px;
  height: 50px;
  color: green;
}


#kansen {
  border-style: solid;
  text-align: center;
  background-color: black;
  width: 100px;
  height: 50px;
  color: green;
}
