.mooi {
  background-color:#45c7bc;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #1cd5db;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #28bbe0;
}
.mooi:hover {
  background-color:#12cfe8;
}
.mooi:active {
  position:relative;
  top:1px;
}


.score {
  background-color:#45c7bc;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #1cd5db;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #28bbe0;
}


.score:hover {
  background-color:#12cfe8;
}

.score:active {
  position:relative;
  top:1px;
}
